    
        /* banner部分*/

        section.topWrap{
                    padding: 0;
                    background: #8f000b;
                    border-top: 0 solid #c40000;
                    border-bottom: 0 solid #600000
        }
        section.mainWrap{height: 100px; display: block; width: 1200px;}

        a.logo{ float: left;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 15px;}
        img{border: 0; vertical-align: bottom; max-width: 100%}

      